@mixin spins($spin) {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg + $spin * 36deg);
  }
}

body {
  background: #9ee1f7;
}

.container {
  width: 600px;
  margin: 0 auto;
}
.copy h1 {
  color: #ffffff;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 60px;
}
.wrapper {
  margin: 0 0 30px;
  position: relative;
}

.pointer-wrapper {
  position: absolute;
  top: -25px;
  left: 46%;
  z-index: 1;
}

.button {
  margin: 0 0 40px;
}
.btn {
  display: block;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  width: 250px;
  height: 60px;
  color: #ffffff;
  background: #e01a22;

  &:hover {
    background: #f08d90;
  }

  &:focus {
    outline: 0;
  }
}

// @for $i from 1 through 10 {
//   .wheel-#{$i} {  animation: spin#{$i} 6s ease-out 1; }
// }

// @for $i from 1 through 10 {
//   @keyframes spin#{$i} {
//     @include spins($i);
//   }
// }
